
.product {
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


@media screen and (max-width: 768px) {
  .product {
    width: 100%; 
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .product h2 {
    font-size: 1.2rem; 
  }

  .product p {
    font-size: 0.9rem; 
  }
}
